@model App_Hospital.Models.Especialidad
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

@{
    ViewBag.Title = "Create";
}

<h3 style="color:blueviolet">Informaci&oacute;n de la especialidad</h3>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    
        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model=>model.Descripcion)
        </div>
        <div class="editor field">
            @Html.TextAreaFor(model=>model.Descripcion)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model=>model.Habilitado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model=>model.Habilitado)
        </div>
        <br />
        <p>
            <input type="submit" value="Guardar" class="btn btn-primary active" />
        </p>    
}

<div>
    @Html.ActionLink("Cancelar", "Index", null, new { @class="btn btn-danger active"})
</div>


