@model App_Hospital.Models.Doctor
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

@{
    ViewBag.Title = "Create";
}

<h3 style="color:blueviolet">Informaci&oacute;n del doctor</h3>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="container">
        <div class="row">
            <div class="col-md-1">
                @Html.LabelFor(model => model.Nombre)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Nombre,new {style="width:275px" , placeholder="Ingrese nombre"})<br />
                <span style="font-size:x-small">@Html.ValidationMessageFor(model => model.Nombre)</span>                
            </div>

            <div class="col-md-1">
                @Html.LabelFor(model => model.Direccion)
            </div>
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.Direccion, new { style="width:475px", placeholder="Ingrese dirección"})<br />
                <span style="font-size:x-small">@Html.ValidationMessageFor(model => model.Direccion)</span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1">
                @Html.LabelFor(model => model.Nit)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Nit, new { style="width:275px", placeholder="Ingrese NIT"})
                <span style="font-size:x-small">@Html.ValidationMessageFor(model => model.Nit)</span>
            </div>
            
            <div class="col-md-1">
                @Html.LabelFor(model => model.Usuario)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Usuario, new { style="width:235px", placeholder="Ingrese usuario"})
                <span style="font-size:x-small">@Html.ValidationMessageFor(model => model.Usuario)</span>
            </div>

            <div class="col-md-1">
                @Html.LabelFor(model => model.Accionista)
            </div>
            <div class="col-md-3">
                @Html.CheckBoxFor(model => model.Accionista)
                <span>@Html.ValidationMessageFor(model => model.Accionista)</span>    
            </div>
        </div>
        <br />
        <div class="row">            
            <div class="col-md-1">
               @Html.LabelFor(model=>model.EspecialidadID
            </div>
            <div class="col-md-3"> 
               @Html.DropDownList("EspecialidadID", ViewData["EspecialidadID"] as List<SelectListItem>)              
            </div>

            <div class="col-md-1">
                @Html.LabelFor(model => model.Observaciones)
            </div>            
            <div class="col-md-7">
                @Html.TextAreaFor(model => model.Observaciones, new { placeholder="Ingrese observaciones"})
                @Html.ValidationMessageFor(model => model.Observaciones)
            </div>
        </div>
        
        <div class="row">
            <p>
            <input type="submit" value="Guardar" class="btn btn-primary active"/>
            </p>
        </div>        
    </div>           
}

<div>
    @Html.ActionLink("Cancelar", "Index", null, new { @class="btn btn-danger"})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
