@model App_Hospital.Models.Doctor
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

@{
    ViewBag.Title = "Delete";
}

<h3 style="color:blue">¿Está seguro que desea eliminar la siguiente información?</h3>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>
    <br />

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Direccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Direccion)
    </div>

    <br />
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nit)
    </div>
   
<br /><br />

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
         <input type="submit" value="Eliminar" class="btn btn-primary active"/> 
        @Html.ActionLink("Cancelar", "Index", null, new { @class="btn btn-danger active"})
    </p>
}
